@charset "UTF-8";
/**
 * Stockfeel
 * @author DaYu
 * @version 1.0.3
 * @date created 2015/07/01
 * @date updated 2015/08/02
 */
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Susy 2.2.12 Setting
 * @author DaYu
 * @version 1.0.0
 * @date created 2015/03/25
 * @date updated 2015/03/25
 */
/**
 * Define
 * @author DaYu
 * @version 1.0.0
 * @date created 2015/03/25
 * @date updated 2015/03/25
 */
/**
 * Mixin
 * @author DaYu
 * @version 1.0.0
 * @date created 2015/03/25
 * @date updated 2015/03/25
 */
/**
 * Extend
 * @author DaYu
 * @version 1.0.0
 * @date created 2015/03/25
 * @date updated 2015/03/25
 */
/**
 * Layout
 * @author DaYu
 * @version 1.0.0
 * @date created 2015/03/25
 * @date updated 2015/03/25
 */
/* line 13, ../sass/_layout.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/_layout.scss */
a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

/* line 24, ../sass/_layout.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 29, ../sass/_layout.scss */
body {
  font-family: "Arial", "微軟正黑體", "Myriad Pro", "sans-serif";
  font-size: 1rem;
  line-height: 1rem;
}

@media (min-width: 0px) {
  /* line 35, ../sass/_layout.scss */
  .container {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 481px) {
  /* line 35, ../sass/_layout.scss */
  .container {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 769px) {
  /* line 35, ../sass/_layout.scss */
  .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/**
 * index
 * @author DaYu
 * @version 1.0.0
 * @date created 2015/03/25
 * @date updated 2015/03/25
 */

/*# sourceMappingURL=main.css.map */
